/* ----------------------
   Gerenal Styling
------------------------ */
body {

    font-family: Arial, Helvetica, sans-serif;
    background-color: #f8f9fa;
    color: #333;

}


/* ----------------------
   Navbar
------------------------ */

.navbar-brand {

    font-size: 24px;
    font-weight: bold;

}



.nav-link {

    font-size: 16px;

}



/* ----------------------
  Hero Section
------------------------ */
.hero {

    background: linear-gradient(
        135deg,
        #212529,
        #495057
    );

    padding: 80px 20px;

}



.hero h1 {

    font-size: 45px;
    font-weight: bold;

}



.hero p {

    font-size: 20px;

}


/* ----------------------
   Cards
------------------------ */


.card {

    border: none;
    border-radius: 12px;
    overflow: hidden;
    transition: 0.3s;

}



.card:hover {

    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.15);

}



.card img {

    object-fit: cover;

}



/* ----------------------
   Forms
------------------------ */

form {

    background:white;
    padding:30px;
    border-radius:10px;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);

}



input,
textarea {

    border-radius:8px !important;

}


/* ----------------------
   Buttons
------------------------ */

.btn {

    border-radius:8px;

}



/* ----------------------
   Footer
------------------------ */

footer {

    margin-top:50px;

}



/* ----------------------
  Tables
------------------------ */
table {

    background:white;

    border-radius:10px;

}


/* ----------------------
   Responsive Design
------------------------ */
@media(max-width:768px){


.hero h1 {

    font-size:32px;

}


.hero p {

    font-size:16px;

}


.card {

    margin-bottom:20px;

}


}
